<!-- banner -->
<section class="banner d-flex align-items-center justify-content-center position-relative overflow-hidden">
	<div class="container w-100 position-relative">
		<div class="row anim_sec_wrap align-items-center">
			<div class="col-md-6 anim_sec animate__fadeInUp">
				<h1 class="mb-0 sec_title">
					Gathering Better and
					Experienced Investors,
					Smart Invest, Earn the
					Best with Mergers Bay!
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
					cursus lacus, a scelerisque libero ornare efficitur consqututere.
				</p>
				<div class="banner_btns text-uppercase">
					<a [routerLink]="['/buyer']">
						Buy
					</a>
					<a [routerLink]="['/seller']">
						Sell
					</a>
				</div>
			</div>
			<div class="col-md-6 anim_sec animate__fadeIn">
				<img src="../../../../assets/images/banner_img.png" class="img-fluid" alt="banner">
			</div>
		</div>
	</div>
</section>
<!-- banner - end /-->
<!-- process -->
<section class="container mb-4 mb-md-5">
	<h2 class="process_title sec_title text-center mx-auto">
		"Mergers Bay is a <span>Digitalized Platform </span>
		that connects buyer with seller."
	</h2>
</section>
<section class="process_content sec_space">
	<div class="container">
		<div class="row anim_sec_wrap align-items-center">
			<div class="col-md-5 mb-4 mb-md-5 anim_sec_wrap">
				<h3 class="mb-2 text-white fw_sb anim_sec cb_s_dark">Why Choose Mergers Bay?</h3>
				<h4 class="mb-4 text-white fw_sb anim_sec cb_s_dark">Digitalizing the Process.</h4>
				<ul class="list-unstyled mb-0 process_li anim_sec_wrap text-white">
					<li class="anim_sec cb_s_dark">
						Duis accumsan ullamcorper justo, in egestas risus.
					</li>
					<li class="anim_sec cb_s_dark">
						Vestibulum dignissim leo et sapien ullamcorper.
					</li>
					<li class="anim_sec cb_s_dark">
						Eros scelerisque rhoncus. Maecenas pretium dolor orcis.
					</li>
					<li class="anim_sec cb_s_dark">
						Quisque eu tellus augue. Maecenas scelerisque lectus.
					</li>
					<li class="anim_sec cb_s_dark">
						Aenean ornare orci eget tellus placerat, id convallis ante.
					</li>
				</ul>
			</div>
			<div class="col-md-7 anim_sec animate__fadeInUp">
				<ul class="list-unstyled process_list text-white mb-0">
					<li class="d-flex align-items-center">
						<div class="process_list_icon me-3 d-flex align-items-center justify-content-center">
							<img src="../../../../assets/images/icon1.png" class="img-fluid" alt="">
						</div>
						<span>
							Phasellus fermentum at turpis ut egestas.Maecenas ac tempor
							nisl. Quisque accums turpis ac ipsum euismod.
						</span>
					</li>
					<li class="d-flex align-items-center">
						<div class="process_list_icon me-3 d-flex align-items-center justify-content-center">
							<img src="../../../../assets/images/icon2.png" class="img-fluid" alt="">
						</div>
						<span>
							Phasellus fermentum at turpis ut egestas.Maecenas ac tempor
							nisl. Quisque accums turpis ac ipsum euismod.
						</span>
					</li>
					<li class="d-flex align-items-center">
						<div class="process_list_icon me-3 d-flex align-items-center justify-content-center">
							<img src="../../../../assets/images/icon3.png" class="img-fluid" alt="">
						</div>
						<span>
							Phasellus fermentum at turpis ut egestas.Maecenas ac tempor
							nisl. Quisque accums turpis ac ipsum euismod.
						</span>
					</li>
					<li class="d-flex align-items-center">
						<div class="process_list_icon me-3 d-flex align-items-center justify-content-center">
							<img src="../../../../assets/images/icon4.png" class="img-fluid" alt="">
						</div>
						<span>
							Phasellus fermentum at turpis ut egestas.Maecenas ac tempor
							nisl. Quisque accums turpis ac ipsum euismod.
						</span>
					</li>
					<li class="d-flex align-items-center">
						<div class="process_list_icon me-3 d-flex align-items-center justify-content-center">
							<img src="../../../../assets/images/icon5.png" class="img-fluid" alt="">
						</div>
						<span>
							Phasellus fermentum at turpis ut egestas.Maecenas ac tempor
							nisl. Quisque accums turpis ac ipsum euismod.
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- process - end /-->

<!-- how it works -->
<div class="sec_space">
	<section class="container">
		<div class="row">
			<div class="col-md-6">
				<h3 class="sec_title">How It Works</h3>
				<p class="cb_s anim_sec">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
					cursus lacus, a scelerisque libero ornare efficitur consqututere.
				</p>
				<a href="#." class="get_started_btn">Get Started</a>
			</div>
		</div>
	</section>
	<section class="how_work_steps mt-md-5 pt-4 position-relative">
		<div class="container">
			<div class="d-md-flex anim_sec_wrap justify-content-between">
				<div class="step_wrap cover_box anim_sec">
					<div class="step_count position-relative">
						<h4 class="step_num mb-0">1</h4>
						<img src="../../../../assets/images/step1.png" class="img-fluid" alt="">
					</div>
					<h5 class="step_title">Fill a Form</h5>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consecteturg elit.
						Suspendisse maxi cursus lacus, a scelerisque
						o ornare efficitur consqututere.
					</p>
				</div>
				<div class="step_wrap cover_box anim_sec">
					<div class="step_count position-relative">
						<h4 class="step_num mb-0">2</h4>
						<img src="../../../../assets/images/step2.png" class="img-fluid" alt="">
					</div>
					<h5 class="step_title">Screening the proposition</h5>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consecteturg elit.
						Suspendisse maxi cursus lacus, a scelerisque
						o ornare efficitur consqututere.
					</p>
				</div>
				<div class="step_wrap cover_box anim_sec">
					<div class="step_count position-relative">
						<h4 class="step_num mb-0">3</h4>
						<img src="../../../../assets/images/step3.png" class="img-fluid" alt="">
					</div>
					<h5 class="step_title">Connect With Partners</h5>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consecteturg elit.
						Suspendisse maxi cursus lacus, a scelerisque
						o ornare efficitur consqututere.
					</p>
				</div>
			</div>
		</div>
		<div class="steps_line_wrap d-none d-lg-block">
			<div class="steps_line cb_s anim_sec" style="background: url('../../../../assets/images/step_line1.png')"></div>
		</div>
	</section>
</div>
<!-- how it works - end /-->

<!-- deal slider -->
<section class="plan_slider_wrap sec_space">
	<div class="container anim_sec_wrap">
		<h3 class="text-center sec_title fw_sb mb-4">Featured Deals</h3>
		<ul class="nav nav-pills mb-3 justify-content-center deals_tab animate__fadeInUp anim_sec" id="pills-tab"
			role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="pills-buy-tab" data-bs-toggle="pill" data-bs-target="#pills-buy"
					type="button" role="tab" aria-controls="pills-buy" aria-selected="true">Buy</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="pills-sell-tab" data-bs-toggle="pill" data-bs-target="#pills-sell"
					type="button" role="tab" aria-controls="pills-sell" aria-selected="false">Sell</button>
			</li>
		</ul>
		<div class="tab-content position-relative deals_tab_content animate__fadeInUp anim_sec" id="pills-tabContent">
			<div class="tab-pane fade show active" id="pills-buy" role="tabpanel" aria-labelledby="pills-buy-tab">
				<app-buy-featured-deals></app-buy-featured-deals>
			</div>
			<div class="tab-pane fade" id="pills-sell" role="tabpanel" aria-labelledby="pills-sell-tab">
				<app-sell-featured-deals></app-sell-featured-deals>
			</div>
		</div>
	</div>
</section>
<!-- deal slider - end  /-->

<!-- partners -->
<section class="partners anim_sec_wrap">
	<div class="container sec_space pb-md-5 pb-4">
		<h3 class="sec_title text-center">Over 200+ Partners</h3>
	</div>
	<div class="partners_slide sec_space anim_sec animate__fadeInUp">
		<div class="container">
			<ngx-slick-carousel class="carousel partner_slider" #slickModal="slick-carousel" [config]="config_partners">
				<div ngxSlickItem *ngFor="let partner of partners" class="slide">
					<div>
						<img [src]="partner.img" class="img-fluid d-block mx-auto" alt="">
					</div>
				</div>
			</ngx-slick-carousel>
		</div>
	</div>
</section>
<!-- partners - end /-->