<section class="banner_inner position-relative overflow-hidden">
    <div class="container my-5 position-relative">
        <!-- Almost Done -->
        <div class="welcome_msg mx-auto text-center shadow_sec">
            <div class="py-md-5 py-4 text-white container-fluid">
                <img src="../../../assets/images/complete.png" class="im-fluid mx-auto mb-4 d-block" alt="Welcome">
                <h3 class="sec_title mx-auto text-center mb-0">Almost Done!</h3>
            </div>
            <div class="py-md-5 py-4 bg-white container-fluid">
                <div class="cong_msg_txt mx-auto">
                    Please Login or Register to record your proposition with Mergers Bay. Our team will verify
                    your proposition and send you relevant matches.
                </div>
                <ul class="list-unstyled mb-0 sign_popup_btn list-inline mt-2">
                    <li class="list-inline-item mt-2">
                        <a [routerLink]="['/login']" class="theme_btn_sm">
                            <img src="../../../assets/images/login.png" class="img-fluid me-1" alt="Login">
                            Login
                        </a>
                    </li>
                    <li class="list-inline-item mt-2">
                        <a [routerLink]="['/sign-up']" class="theme_btn_sm_dark">
                            <img src="../../../assets/images/register.png" class="img-fluid me-1" alt="Register">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Almost Done - end /-->
    </div>
</section>