<!-- banner -->
<section class="banner d-flex align-items-center justify-content-center position-relative overflow-hidden">
    <div class="container w-100 position-relative">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0 animate__fadeInUp">
                <h1 class="mb-0 sec_title">
                    Buy profitable Businesses
                    from our platform.
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
                    cursus lacus, a scelerisque libero ornare efficitur consqututere.
                </p>
                <div class="banner_btns text-uppercase">
                    <a href="#.">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="col-md-6 animate__fadeIn">
                <img src="../../../../assets/images/banner3.png" class="img-fluid" alt="banner">
            </div>
        </div>
    </div>
</section>
<!-- banner - end /-->

<!-- tabs -->
<section class="process_content business_tabs sec_space">
    <h3 class="sec_title text-center mb-4 mb-md-5 text-white">Main Sectors for buying Businesses</h3>
    <div class="container">
        <div class="row accordion anim_sec_wrap" id="accordion1">
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="mb-4 text-white cb_s_dark anim_sec">Business</h3>
                <div class="accordion-item animate__fadeInUp anim_sec">
                    <h4 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Buy Out
                        </button>
                    </h4>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordion1">
                        <div class="accordion-body">
                            Morbi sit amet lobortis sapien. Morbi ac commodo risus. Sed
                            congue lectus eleifend sodales. Morbi eleifend sollicitudin diam,
                            non varius magna vehicula vel.
                        </div>
                    </div>
                </div>
                <div class="accordion-item animate__fadeInUp anim_sec">
                    <h4 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Investment
                        </button>
                    </h4>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordion1">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default,
                            until the collapse plugin adds the appropriate classes that we use to style each
                            element. These classes control the overall appearance, as well as the showing and hiding
                            via CSS transitions. You can modify any of this with custom CSS or overriding our
                            default variables. It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
                <div class="accordion-item animate__fadeInUp anim_sec">
                    <h4 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            M&A
                        </button>
                    </h4>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordion1">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                            the collapse plugin adds the appropriate classes that we use to style each element.
                            These classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default
                            variables. It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="mb-4 text-white cb_s_dark anim_sec">Commercial Properties</h3>
                <div class="accordion-item animate__fadeInUp anim_sec">
                    <h4 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            Properties
                        </button>
                    </h4>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                        data-bs-parent="#accordion1">
                        <div class="accordion-body">
                            Morbi sit amet lobortis sapien. Morbi ac commodo risus. Sed
                            congue lectus eleifend sodales. Morbi eleifend sollicitudin diam,
                            non varius magna vehicula vel.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tabs - end /-->


<!-- benifits -->
<section class="bg_light sec_space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <h3 class="sec_title mb-1">Benefits</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
                    cursus lacus, a scelerisque libero ornare efficitur consqututere.
                </p>
                <ul class="list-unstyled mb-0 check_list anim_sec_wrap">
                    <li class="anim_sec cb_s_bg">
                        Duis accumsan ullamcorper justo, in egestas risus.
                    </li>
                    <li class="anim_sec cb_s_bg">
                        Vestibulum dignissim leo et sapien ullamcorper.
                    </li>
                    <li class="anim_sec cb_s_bg">
                        Eros scelerisque rhoncus. Maecenas pretium dolor orcis.
                    </li>
                    <li class="anim_sec cb_s_bg">
                        Quisque eu tellus augue. Maecenas scelerisque lectus.
                    </li>
                    <li class="anim_sec cb_s_bg">
                        Aenean ornare orci eget tellus placerat, id convallis ante.
                    </li>
                </ul>
            </div>
            <div class="col-md-6 cover_box">
                <img src="../../../../assets/images/benifits2.png" class="img-fluid" alt="Benifts">
            </div>
        </div>
    </div>
</section>
<!-- benifits - end /-->

<!-- how it works -->
<section class="sec_space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-1"></div>
            <div class="col-lg-6 col-md-10 text-center">
                <h3 class="sec_title text-center">How It Works</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
                    cursus lacus, a scelerisque libero ornare efficitur consqututere.
                </p>
            </div>
        </div>
    </div>
    <div class="how_work_steps how_work_steps_sm pt-4 mt-md-5 position-relative">
        <div class="container">
            <div class="d-flex flex-wrap anim_sec_wrap justify-content-center">
                <div class="how_work_step_sm_col cover_box anim_sec col-lg col-md-6">
                    <div class="step_wrap">
                        <div class="step_count position-relative">
                            <h4 class="step_num mb-0">1</h4>
                            <img src="../../../../assets/images/add-user-symbol2.png" class="img-fluid" alt="">
                        </div>
                        <h5 class="step_title text-center mx-auto">Sign Up</h5>
                    </div>
                </div>
                <div class="how_work_step_sm_col cover_box anim_sec col-lg col-sm-6">
                    <div class="step_wrap">
                        <div class="step_count position-relative">
                            <h4 class="step_num mb-0">2</h4>
                            <img src="../../../../assets/images/form2.png" class="img-fluid" alt="">
                        </div>
                        <h5 class="step_title text-center mx-auto">Fill a Form</h5>
                    </div>
                </div>
                <div class="how_work_step_sm_col cover_box anim_sec col-lg col-md-6">
                    <div class="step_wrap">
                        <div class="step_count position-relative">
                            <h4 class="step_num mb-0">3</h4>
                            <img src="../../../../assets/images/zoom2.png" class="img-fluid" alt="">
                        </div>
                        <h5 class="step_title text-center mx-auto">Short Video Call</h5>
                    </div>
                </div>
                <div class="how_work_step_sm_col cover_box anim_sec col-lg col-md-6">
                    <div class="step_wrap">
                        <div class="step_count position-relative">
                            <h4 class="step_num mb-0">4</h4>
                            <img src="../../../../assets/images/file2.png" class="img-fluid" alt="">
                        </div>
                        <h5 class="step_title text-center mx-auto">Documentation</h5>
                    </div>
                </div>
                <div class="how_work_step_sm_col cover_box anim_sec col-lg col-md-6">
                    <div class="step_wrap">
                        <div class="step_count position-relative">
                            <h4 class="step_num mb-0">5</h4>
                            <img src="../../../../assets/images/seller2.png" class="img-fluid" alt="">
                        </div>
                        <h5 class="step_title text-center mx-auto">Connect with potential Sellers</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="steps_line_wrap d-none d-lg-block">
            <div class="steps_line cb_s anim_sec" style="background: url('../../../../assets/images/steps_line.png')">
            </div>
        </div>
    </div>
</section>
<!-- how it works - end /-->

<!-- deal slider -->
<section class="plan_slider_wrap sec_space">
    <h3 class="text-center sec_title fw_sb mb-4">Featured Deals</h3>
    <app-sell-featured-deals></app-sell-featured-deals>
</section>
<!-- deal slider - end  /-->

<!-- covered -->
<section class="sec_space container pb-0">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="sec_title mb-4">What we've Covered</h3>
            <ul class="list-unstyled mb-0 mt-lg-4 covered_list anim_sec_wrap">
                <li class="anim_sec animate__fadeInUp">
                    <img src="../../../../assets/images/bar-chart.png" class="img-fluid" alt="">
                    <img src="../../../../assets/images/bar-chart2.png" class="img-fluid" alt="">
                    Business
                </li>
                <li class="anim_sec animate__fadeInUp">
                    <img src="../../../../assets/images/data-analysis.png" class="img-fluid" alt="">
                    <img src="../../../../assets/images/data-analysis2.png" class="img-fluid" alt="">
                    Buyers Overview
                </li>
                <li class="anim_sec animate__fadeInUp">
                    <img src="../../../../assets/images/web.png" class="img-fluid" alt="">
                    <img src="../../../../assets/images/web2.png" class="img-fluid" alt="">
                    Business Analysis
                </li>
                <li class="anim_sec animate__fadeInUp">
                    <img src="../../../../assets/images/report.png" class="img-fluid" alt="">
                    <img src="../../../../assets/images/report2.png" class="img-fluid" alt="">
                    Site Information
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse maxi
                cursus lacus, a scelerisque libero ornare efficitur consqututere.
            </p>
            <div class="chart_wrapper p-4 mt-4 cover_box">
                <h3 class="chart_title mb-0"><b>Business Chart of May 2022</b></h3>
                <p class="chart_title">256 Investors</p>
                <div id="business_chart" class="mt-4"></div>
            </div>
        </div>
    </div>
</section>
<!-- covered - end /-->

<!-- partners -->
<section class="partners">
    <div class="container sec_space pb-md-5 pb-4">
        <h3 class="sec_title text-center">Over 200+ Partners</h3>
    </div>
    <div class="partners_slide sec_space animate__fadeInUp">
        <div class="container">
            <ngx-slick-carousel class="carousel partner_slider" #slickModal="slick-carousel" [config]="config_partners">
                <div ngxSlickItem *ngFor="let partner of partners" class="slide">
                    <div>
                        <img [src]="partner.img" class="img-fluid d-block mx-auto" alt="">
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>
<!-- partners - end /-->